<h1 class="row justify-content-center">
     info about:{{person.name}}
</h1>

<div class="row justify-content-center">
   <!-- הצגה של פרמטרים בהתאם לגייסון של אובייקט פרסון  -->
    <div class="col-sm-6 card">
        <div>
            <div>worth:{{person.worth}} </div>
            <div>country:{{person.country}}</div>
            <div>source:{{person.source}}</div>
            <div>birth Year:{{person.birth_year}}</div>
            <img src="{{person.image}}" class="img-tumbnail">
        </div>
        <a href="/">back to home Page</a>

    </div>

</div >